---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>	
	<body>
		<Header />
		<main>
			<div class="noto-sans-jp-900">
				<h1 class="center" id="movetxt1">J<span style="color: #a3b18a;font-weight: 100;">ose</span></h1>
				<h1 class="center" id="movetxt2">A<span style="color: #a3b18a;font-weight: 100;">ndres</span></h1>
				<h1 class="center" id="movetxt3">A<span style="color: #a3b18a;font-weight: 100;">lbaladejo</span></h1>
				<h1 class="center" id="movetxt4">M<span style="color: #a3b18a;font-weight: 100;">oreno</span></h1>	
			</div>
		</main>
	</body>
</html>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

.noto-sans-jp-900 {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#movetxt1 {
    -webkit-animation: moving 2.5s none;
    animation: moving 2.5s none;
	
}#movetxt2 {
    -webkit-animation: moving 2s none;
    animation: moving 2s none;
}#movetxt3 {
    -webkit-animation: moving 1.5s none;
    animation: moving 1.5s none;
}#movetxt4 {
    -webkit-animation: moving 1s none;
    animation: moving 1s none;
}
@keyframes moving {
    from {transform: translateY(-1000px);}
    to {transform: translateY(0px);}
}
</style>