---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>	
	<body>
		<main>

			<div class="page">
        <p data-scroll="in">JOSE ANDRES ALBALADEJO MORENO</p>
        <p class="reveal--2 words chars splitting" aria-hidden="true" data-scroll="in" data-splitting="" style="--word-total:2; --char-total:28;">
			
			<span class="word jose" data-word="JOSE" style="--word-index:0;">
				<span class="char andres" data-char="J" style="--char-index:0; --count:1; --char-0:&quot;≥&quot;; --char-1:&quot;¶&quot;; --char-2:&quot;/&quot;; --char-3:&quot;˚&quot;; --char-4:&quot;░&quot;; --char-5:&quot;≤&quot;; --char-6:&quot;¢&quot;; --char-7:&quot;•&quot;; --char-8:&quot;≥&quot;; --char-9:&quot;˚&quot;;">J</span>
				<span class="char jose" data-char="O" style="--char-index:1; --count:3; --char-0:&quot;<&quot;; --char-1:&quot;…&quot;; --char-2:&quot;–&quot;; --char-3:&quot;`&quot;; --char-4:&quot;¶&quot;; --char-5:&quot;ƒ&quot;; --char-6:&quot;•&quot;; --char-7:&quot;?&quot;; --char-8:&quot;˜&quot;; --char-9:&quot;˜&quot;;">O</span>
				<span class="char jose" data-char="S" style="--char-index:2; --count:6; --char-0:&quot;░&quot;; --char-1:&quot;æ&quot;; --char-2:&quot;≥&quot;; --char-3:&quot;å&quot;; --char-4:&quot;÷&quot;; --char-5:&quot;–&quot;; --char-6:&quot;∫&quot;; --char-7:&quot;µ&quot;; --char-8:&quot;å&quot;; --char-9:&quot;▒&quot;;">S</span>
				<span class="char jose" data-char="E" style="--char-index:3; --count:4; --char-0:&quot;≈&quot;; --char-1:&quot;¬&quot;; --char-2:&quot;<&quot;; --char-3:&quot;…&quot;; --char-4:&quot;∞&quot;; --char-5:&quot;/&quot;; --char-6:&quot;?&quot;; --char-7:&quot;˙&quot;; --char-8:&quot;ß&quot;; --char-9:&quot;≈&quot;;">E</span>				
			
				<span class="char andres" data-char="A" style="--char-index:0; --count:1; --char-0:&quot;≥&quot;; --char-1:&quot;¶&quot;; --char-2:&quot;/&quot;; --char-3:&quot;˚&quot;; --char-4:&quot;░&quot;; --char-5:&quot;≤&quot;; --char-6:&quot;¢&quot;; --char-7:&quot;•&quot;; --char-8:&quot;≥&quot;; --char-9:&quot;˚&quot;;">A</span>
				<span class="char jose" data-char="N" style="--char-index:1; --count:3; --char-0:&quot;<&quot;; --char-1:&quot;…&quot;; --char-2:&quot;–&quot;; --char-3:&quot;`&quot;; --char-4:&quot;¶&quot;; --char-5:&quot;ƒ&quot;; --char-6:&quot;•&quot;; --char-7:&quot;?&quot;; --char-8:&quot;˜&quot;; --char-9:&quot;˜&quot;;">N</span>
				<span class="char jose" data-char="D" style="--char-index:2; --count:1; --char-0:&quot;░&quot;; --char-1:&quot;æ&quot;; --char-2:&quot;≥&quot;; --char-3:&quot;å&quot;; --char-4:&quot;÷&quot;; --char-5:&quot;–&quot;; --char-6:&quot;∫&quot;; --char-7:&quot;µ&quot;; --char-8:&quot;å&quot;; --char-9:&quot;▒&quot;;">D</span>
				<span class="char jose" data-char="R" style="--char-index:3; --count:4; --char-0:&quot;≈&quot;; --char-1:&quot;¬&quot;; --char-2:&quot;<&quot;; --char-3:&quot;…&quot;; --char-4:&quot;∞&quot;; --char-5:&quot;/&quot;; --char-6:&quot;?&quot;; --char-7:&quot;˙&quot;; --char-8:&quot;ß&quot;; --char-9:&quot;≈&quot;;">R</span>
				<span class="char jose" data-char="E" style="--char-index:4; --count:5; --char-0:&quot;≈&quot;; --char-1:&quot;¬&quot;; --char-2:&quot;<&quot;; --char-3:&quot;…&quot;; --char-4:&quot;∞&quot;; --char-5:&quot;/&quot;; --char-6:&quot;?&quot;; --char-7:&quot;˙&quot;; --char-8:&quot;ß&quot;; --char-9:&quot;≈&quot;;">E</span>
				<span class="char jose" data-char="S" style="--char-index:6; --count:4; --char-0:&quot;≈&quot;; --char-1:&quot;¬&quot;; --char-2:&quot;<&quot;; --char-3:&quot;…&quot;; --char-4:&quot;∞&quot;; --char-5:&quot;/&quot;; --char-6:&quot;?&quot;; --char-7:&quot;˙&quot;; --char-8:&quot;ß&quot;; --char-9:&quot;≈&quot;;">S</span>

			</span>

			<span class="albaladejo" data-word="ALBALADEJO" style="--word-index:2;">
				<span class="char andres" data-char="A" style="--char-index:0; --count:6; --char-0:&quot;≥&quot;; --char-1:&quot;¶&quot;; --char-2:&quot;/&quot;; --char-3:&quot;˚&quot;; --char-4:&quot;░&quot;; --char-5:&quot;≤&quot;; --char-6:&quot;¢&quot;; --char-7:&quot;•&quot;; --char-8:&quot;≥&quot;; --char-9:&quot;˚&quot;;">A</span>
				<span class="char jose" data-char="L" style="--char-index:1; --count:3; --char-0:&quot;<&quot;; --char-1:&quot;…&quot;; --char-2:&quot;–&quot;; --char-3:&quot;`&quot;; --char-4:&quot;¶&quot;; --char-5:&quot;ƒ&quot;; --char-6:&quot;•&quot;; --char-7:&quot;?&quot;; --char-8:&quot;˜&quot;; --char-9:&quot;˜&quot;;">L</span>
				<span class="char jose" data-char="B" style="--char-index:2; --count:1; --char-0:&quot;░&quot;; --char-1:&quot;æ&quot;; --char-2:&quot;≥&quot;; --char-3:&quot;å&quot;; --char-4:&quot;÷&quot;; --char-5:&quot;–&quot;; --char-6:&quot;∫&quot;; --char-7:&quot;µ&quot;; --char-8:&quot;å&quot;; --char-9:&quot;▒&quot;;">B</span>
				<span class="char jose" data-char="A" style="--char-index:3; --count:4; --char-0:&quot;≈&quot;; --char-1:&quot;¬&quot;; --char-2:&quot;<&quot;; --char-3:&quot;…&quot;; --char-4:&quot;∞&quot;; --char-5:&quot;/&quot;; --char-6:&quot;?&quot;; --char-7:&quot;˙&quot;; --char-8:&quot;ß&quot;; --char-9:&quot;≈&quot;;">A</span>
				<span class="char jose" data-char="L" style="--char-index:4; --count:4; --char-0:&quot;≈&quot;; --char-1:&quot;¬&quot;; --char-2:&quot;<&quot;; --char-3:&quot;…&quot;; --char-4:&quot;∞&quot;; --char-5:&quot;/&quot;; --char-6:&quot;?&quot;; --char-7:&quot;˙&quot;; --char-8:&quot;ß&quot;; --char-9:&quot;≈&quot;;">L</span>
				<span class="char jose" data-char="A" style="--char-index:5; --count:5; --char-0:&quot;≈&quot;; --char-1:&quot;¬&quot;; --char-2:&quot;<&quot;; --char-3:&quot;…&quot;; --char-4:&quot;∞&quot;; --char-5:&quot;/&quot;; --char-6:&quot;?&quot;; --char-7:&quot;˙&quot;; --char-8:&quot;ß&quot;; --char-9:&quot;≈&quot;;">A</span>
				<span class="char jose" data-char="D" style="--char-index:6; --count:1; --char-0:&quot;≥&quot;; --char-1:&quot;¶&quot;; --char-2:&quot;/&quot;; --char-3:&quot;˚&quot;; --char-4:&quot;░&quot;; --char-5:&quot;≤&quot;; --char-6:&quot;¢&quot;; --char-7:&quot;•&quot;; --char-8:&quot;≥&quot;; --char-9:&quot;˚&quot;;">D</span>
				<span class="char jose" data-char="E" style="--char-index:7; --count:3; --char-0:&quot;<&quot;; --char-1:&quot;…&quot;; --char-2:&quot;–&quot;; --char-3:&quot;`&quot;; --char-4:&quot;¶&quot;; --char-5:&quot;ƒ&quot;; --char-6:&quot;•&quot;; --char-7:&quot;?&quot;; --char-8:&quot;˜&quot;; --char-9:&quot;˜&quot;;">E</span>
				<span class="char jose" data-char="J" style="--char-index:8; --count:1; --char-0:&quot;░&quot;; --char-1:&quot;æ&quot;; --char-2:&quot;≥&quot;; --char-3:&quot;å&quot;; --char-4:&quot;÷&quot;; --char-5:&quot;–&quot;; --char-6:&quot;∫&quot;; --char-7:&quot;µ&quot;; --char-8:&quot;å&quot;; --char-9:&quot;▒&quot;;">J</span>
				<span class="char jose" data-char="O" style="--char-index:9; --count:3; --char-0:&quot;≈&quot;; --char-1:&quot;¬&quot;; --char-2:&quot;<&quot;; --char-3:&quot;…&quot;; --char-4:&quot;∞&quot;; --char-5:&quot;/&quot;; --char-6:&quot;?&quot;; --char-7:&quot;˙&quot;; --char-8:&quot;ß&quot;; --char-9:&quot;≈&quot;;">O</span>				
			</span>

			<span class="whitespace"> </span>

			<span class="moreno" data-word="MORENO" style="--word-index:3;">
				<span class="char andres" data-char="M" style="--char-index:0; --count:4; --char-0:&quot;≥&quot;; --char-1:&quot;¶&quot;; --char-2:&quot;/&quot;; --char-3:&quot;˚&quot;; --char-4:&quot;░&quot;; --char-5:&quot;≤&quot;; --char-6:&quot;¢&quot;; --char-7:&quot;•&quot;; --char-8:&quot;≥&quot;; --char-9:&quot;˚&quot;;">M</span>
				<span class="char jose" data-char="O" style="--char-index:1; --count:3; --char-0:&quot;<&quot;; --char-1:&quot;…&quot;; --char-2:&quot;–&quot;; --char-3:&quot;`&quot;; --char-4:&quot;¶&quot;; --char-5:&quot;ƒ&quot;; --char-6:&quot;•&quot;; --char-7:&quot;?&quot;; --char-8:&quot;˜&quot;; --char-9:&quot;˜&quot;;">O</span>
				<span class="char jose" data-char="R" style="--char-index:2; --count:1; --char-0:&quot;░&quot;; --char-1:&quot;æ&quot;; --char-2:&quot;≥&quot;; --char-3:&quot;å&quot;; --char-4:&quot;÷&quot;; --char-5:&quot;–&quot;; --char-6:&quot;∫&quot;; --char-7:&quot;µ&quot;; --char-8:&quot;å&quot;; --char-9:&quot;▒&quot;;">R</span>
				<span class="char jose" data-char="E" style="--char-index:7; --count:4; --char-0:&quot;≈&quot;; --char-1:&quot;¬&quot;; --char-2:&quot;<&quot;; --char-3:&quot;…&quot;; --char-4:&quot;∞&quot;; --char-5:&quot;/&quot;; --char-6:&quot;?&quot;; --char-7:&quot;˙&quot;; --char-8:&quot;ß&quot;; --char-9:&quot;≈&quot;;">E</span>
				<span class="char jose" data-char="N" style="--char-index:5; --count:4; --char-0:&quot;≈&quot;; --char-1:&quot;¬&quot;; --char-2:&quot;<&quot;; --char-3:&quot;…&quot;; --char-4:&quot;∞&quot;; --char-5:&quot;/&quot;; --char-6:&quot;?&quot;; --char-7:&quot;˙&quot;; --char-8:&quot;ß&quot;; --char-9:&quot;≈&quot;;">N</span>
				<span class="char jose" data-char="O" style="--char-index:5; --count:4; --char-0:&quot;≈&quot;; --char-1:&quot;¬&quot;; --char-2:&quot;<&quot;; --char-3:&quot;…&quot;; --char-4:&quot;∞&quot;; --char-5:&quot;/&quot;; --char-6:&quot;?&quot;; --char-7:&quot;˙&quot;; --char-8:&quot;ß&quot;; --char-9:&quot;≈&quot;;">O</span>
			</span>
		</p>
		<div class="works">
			<h1>
				<span>Full-stack web developer</span>
			</h1>
			<h1 class="an1">
				<span>Desktop developer</span>
			</h1>
		</div>
      </div>

	</main>	
	
		<Header />
	</body>
</html>

<style>

@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');


* {
  box-sizing: border-box;
  transition: color 0.25s ease;
}
:root {
  --dark: #111;
  --light: #3d405b;
  --color: var(--dark);
  --bg: var(--light);
}
@media (prefers-color-scheme: dark) {
  :root {
    --color: var(--light);
    --bg: var(--dark);
  }
}
body {
  /* background-color: var(--bg); */

  background-color: #3D405B;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23e77153' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23b45b50' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23d98263' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%2399635d' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23d09169' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23a4695d' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23b39c80' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23a56e5f' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23bc9879' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23767372' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%2388b097' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%2397746b' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-size: 4rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
}
p {
  max-width: 100vw;
}
p[data-scroll='in'] [data-char]:after {
  -webkit-animation-name: glitch-switch;
          animation-name: glitch-switch;
}
.reveal--2 [data-char]:after {
  -webkit-animation-iteration-count: var(--count);
          animation-iteration-count: var(--count);
}
p:nth-of-type(1) {
  position: absolute;
  opacity: 0;
}
.word {
  position: relative;
  display: block;
}
[data-char] {
  color: transparent;
  position: relative;
}
[data-char]:after {
  --txt: attr(data-char);
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-timing-function: steps(1);
          animation-timing-function: steps(1);
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  content: var(--txt);
  position: absolute;
  left: 0;
  top: 0;
}
/**
 * Themeing
*/
main {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  position: relative;
  scroll-snap-align: center;
  width: 100vw;
}

.container {
  height: 100vh;
  overflow: auto;
  overflow-x: hidden;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}
.whitespace{
	min-width: 0.5rem;
}

.works{
	display: flex;
	width: 90vw;
}

.jose:after{ color: #e07a5f;}
.andres:after{ color: #f4f1de;}
.albaladejo:after{color: #e07a5f;}


@-webkit-keyframes glitch-switch {
  0% {
    content: var(--char-0);
  }
  10% {
    content: var(--char-1);
  }
  20% {
    content: var(--char-2);
  }
  30% {
    content: var(--char-3);
  }
  40% {
    content: var(--char-4);
  }
  50% {
    content: var(--char-5);
  }
  60% {
    content: var(--char-6);
  }
  70% {
    content: var(--char-7);
  }
  80% {
    content: var(--char-8);
  }
  90% {
    content: var(--char-9);
  }
  100% {
    content: var(--txt);
  }
}
@keyframes glitch-switch {
  0% {
    content: var(--char-0);
  }
  10% {
    content: var(--char-1);
  }
  20% {
    content: var(--char-2);
  }
  30% {
    content: var(--char-3);
  }
  40% {
    content: var(--char-4);
  }
  50% {
    content: var(--char-5);
  }
  60% {
    content: var(--char-6);
  }
  70% {
    content: var(--char-7);
  }
  80% {
    content: var(--char-8);
  }
  90% {
    content: var(--char-9);
  }
  100% {
    content: var(--txt);
  }
}


h1 {
  margin: 0;
  text-align: center;
  font-size: 3rem;
  font-weight: 100;
  height: 6.5vh;
  overflow: hidden;  
	color:  #f4f1de;
}
h1 span {
  display: block;
	visibility: hidden;
  animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
  animation-fill-mode:forwards;
  -webkit-animation-fill-mode: forwards;
}

h1.an1 span {
	margin-left: 2rem;
  animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;  
  animation-delay: 1s;  
  animation-fill-mode:forwards;
  -webkit-animation-fill-mode: forwards;
}

h1.an2 span {
	margin-left: 2rem;
  animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;  
  animation-delay: 1.5s;
  animation-fill-mode:forwards;
  -webkit-animation-fill-mode: forwards;
}

@keyframes reveal {
  0% {
	visibility: visible;
    transform: translate(0,100%);
  }
  100% {
	visibility: visible;
    transform: translate(0,0);
  }
}





@media (max-width: 720px) {
	body {
		font-size: 1rem;
		align-items: center;

	}
	p {
		max-width: 80vw;
	}
	.jose{
		font-size: 2rem;;
	}
	.andres{
		font-size: 2rem;;
	}
	.albaladejo{
		font-size: 2rem;
	}
	.moreno{
		font-size: 1.5rem;
	}

	.works{
	display: flex;
	flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
	width: 90vw;
	}

	h1{
		font-size: 1rem;
		font-weight: 500;
	}
}
</style>
